{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Favicon.png' %}">
</head>
<body>
<div class="hero">

    <h1 class="hero-title">
        Transform Your <span>Links</span><br>
        in a Click
    </h1>

    <p class="hero-sub">
        Effortlessly shorten, secure and optimize your links.
    </p>

    <button class="theme-toggle" id="themeToggle">
    <span class="toggle-dot"></span>
   </button>

</div>


<div class="card">

    <h2>URL Shortener</h2>
    <p class="subtitle">Paste your long link here</p>

    <form method="POST" class="url-form">
        {% csrf_token %}

        <input type="url"
               name="url"
               placeholder="https://example.com/your-long-url"
               required>

        {% if not short_url %}
        <button type="submit" class="primary-btn">
            Shorten my link
        </button>
        {% endif %}

    </form>


    {% if short_url %}

    <div class="result-box">

        <div class="short-url-row">

            <a href="{{ short_url }}" target="_blank" id="shortLink">
                {{ short_url }}
            </a>

            <button type="button" class="copy-btn" onclick="copyURL()">
                Copy
            </button>

        </div>

        <div class="click-count">
            Total Clicks: {{ click_count }}
        </div>

        <a href="/" class="generate-btn">
            Generate New URL
        </a>

    </div>

    {% endif %}

</div>

<script src="{% static 'js/theme.js' %}"></script>

</body>
</html>